@font-face {
  font-family: "InterRegular";
  src:
    local("InterRegular"),
    url("Inter-Regular.ttf");
}

body {
  background-color: #eef;
  margin: 0px;
  font-family: InterRegular;
  color: #111;
}

header {
  background-color: #dde;
  width: 100%;
  display: flex;
}

button {
  border-style: none;
  font-family: inherit;
  transition: 0.1s;
  color: inherit;
}

.headerButton {
  width: 100%;
  height: calc(30px + 1vw);
  font-size: calc(8px + 0.5vw);
  background-color: #dde;
  color: #333;
}

.headerButton:hover {
  background-color: #bbc;
}

.big {
  text-align: center;
  font-size: calc(40px + 3vw);
  margin: 0px;
  color: inherit;
}

.downloadButton {
  background-color: #bbc;
  font-size: calc(30px + 1vw);
  margin: calc(2px + 0.5vw);
  padding: 5px;
  transition: 0.05s;
}

.downloadButton:hover {
  background-color: #99a;
}

#downloads {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hex Color to CSS Filter https://isotropic.co/tool/hex-color-to-css-filter/ */

.downloadImage {
  width: calc(20px + 0.8vw);
  height: calc(20px + 0.8vw);
  object-fit: scale-down;
  position: relative;
  margin-top: 5%;
  filter: invert(0%) sepia(13%) saturate(1534%) hue-rotate(331deg) brightness(100%) contrast(87%); /* #111 */
}

.description {
  color: inherit;
  margin-left: calc(15px + 1vw);
  margin-right: calc(15px + 1vw);
  font-size: calc(20px + 0.2vw);
}

.long {
  display: block;
  content: "";
  margin-top: calc(100px + 3vw);
}

.short {
  display: block;
  content: "";
  margin-top: calc(50px + 1vw);
}